body {
  margin: 0;
  padding: 0;
  background: #ffe;
  font-size: 14px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #231f20;
  overflow: auto;
}

#main {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

#wrap {
  position: relative;
  width: 100%;
  max-width: 1100px;
  height: auto;
  aspect-ratio: 16 / 10;
}

#text {
  width: 100%;
  max-width: 400px;
  height: auto;
  position: absolute;
  left: 5%;
  top: 10%;
}

#canvas {
  width: 100%;
  height: auto;
  aspect-ratio: 16 / 10;
}

@media (max-width: 768px) {
  #text {
    font-size: 12px;
    width: 90%;
    left: 5%;
    top: 5%;
  }

  #canvas {
    width: 100%;
    height: auto;
  }
}

@media (orientation: landscape) and (max-height: 480px) {
  #text {
    font-size: 10px;
    top: 2%;
  }
  #canvas {
    height: 90vh;
  }
}
